body {
    background-color: rgb(233, 205, 168);
}

header#encabezado_principal {
    color: brown;
    text-align: center;
}

section.bloque1_enlace {
    display: inline;
}

section.bloque1_imagen {
    display: inline;
    position: relative;
}

section.bloque2_enlace {
    display: inline;
    text-align: center;
}

section.bloque2_imagen {
    display: inline;
    text-align: center;
}